@import 'tailwindcss';

:root {
  --background: #dadada;
  --background-dark: #ffffff;
  --foreground: #333333;
  --accent: rgba(0, 114, 100, 1);
  --text-color: #000000;
  --text-dark: #222222;
  --text-darker: #999999;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181818;
    --background-dark: #000000;
    --foreground: rgba(156, 156, 156, 1);
    --text-color: #cbcbcb;
    --text-dark: #9c9c9c;
    --text-darker: #484848;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  font-size: 16px;
  height: 100vh;
}

aside {
  height: calc(100vh - 64px);
}

main {
  height: calc(100vh - 201px);
}

.nav-filters button {
  border: none;
}

.menu-button {
  display: none;
}

.menu-button.show-menu-button {
  display: block;
}

.close-button-top {
  display: none;
}

.navigation.in-navbar {
  display: flex;
}

.navigation.in-sidebar {
  display: none;
}

.search.in-navbar {
  display: block;
}

.search.in-sidebar {
  display: none;
}

.nav-filters.in-navbar {
  display: flex;
}

.nav-filters.in-sidebar {
  display: none;
}

.play-button {
  left: calc(50% - 52px);
}

@media (max-width: 1405px) {
  .nav-filters button {
    border: 1px solid var(--foreground);
  }

  .nav-filters:hover button:nth-child(2) {
    transform: translateX(40px);
  }

  .nav-filters:hover button:nth-child(3) {
    transform: translateX(80px);
  }

  .nav-filters:hover button:nth-child(4) {
    transform: translateX(120px);
  }

  .nav-filters button:not(:first-child) {
    margin-left: -40px;
  }
}

@media (max-width: 1300px) {
  aside {
    position: absolute;
    width: 364px;
    right: 32px;
    height: calc(100vh - 64px);
    z-index: 20;
  }

  .main-content {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .menu-button {
    display: block;
  }
}

@media (max-width: 1000px) {
  .menu-button,
  .close-button-top {
    display: block;
  }

  .close-button-bottom {
    display: none;
  }

  .navigation.in-navbar {
    display: none;
  }

  .navigation.in-sidebar {
    display: flex;
  }
}

@media (max-width: 840px) {
  .albums-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .search.in-navbar {
    display: none;
  }

  .search.in-sidebar {
    display: block;
  }
}

@media (max-width: 578px) {
  aside {
    width: 90vw;
  }

  .albums-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .nav-filters.in-navbar {
    display: none;
  }

  .nav-filters.in-sidebar {
    display: flex;
    flex-wrap: wrap;
  }

  .nav-filters.in-sidebar button {
    margin: 0;
  }

  .nav-filters.in-sidebar:hover button {
    transform: none;
  }
}
